# Build artifacts
/build

*.dir/
bin/
CMakeFiles/
intermediate/
x64/

.DS_Store
*.aps
*.csproj
*.filters
*.make
*.ninja
*.sln
*.slnx
*.user
*.vcxproj
*.xcodeproj
*.xcworkspace
cmake_install.cmake
CMakeCache.txt
compile_commands.json
imgui.ini
local.properties
Makefiles
